/* General Styles */
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background: url('background.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #444;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}



header {
  background-color: rgba(2, 132, 199, 0.5); /* 50% transparent */
  color: white;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

header h1 {
  margin: 0;
  font-size: 2.5rem;
}


main {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background: rgba(255, 255, 255, 0.5); /* 50% transparent */
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}



h2 {
  color: #0284c7;
  margin-bottom: 20px;
	font-weight: bold;
}


form {
  display: flex;
  gap: 10px;
  align-items: center;
}

form input, form button {
  padding: 10px;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  transition: all 0.3s;
}

form input:focus {
  border-color: #005f99;
  box-shadow: 0 0 8px rgba(0, 95, 153, 0.2);
}

form button {
  background: #005f99;
  color: white;
  cursor: pointer;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form button:hover {
  background: #004875;
  transform: translateY(-2px);
}

.date-buttons button {
  padding: 10px 15px;
  font-size: 1rem;
  border-radius: 8px;
  border: none;
  margin: 5px;
  background: #017ca7;
  color: white;
  cursor: pointer;
  transition: background 0.3s, transform 0.3s;
}

.date-buttons button:hover {
  background: #015f87;
}

.date-buttons input[type="date"] {
  margin-top: 10px;
  padding: 10px;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
}

#tasks {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background: #fdfdfd;
  margin-bottom: 10px;
  transition: transform 0.2s;
}

li:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

li span {
  font-size: 1.1rem;
}

li button {
  background-color: #e63946;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s;
}

li button:hover {
  background-color: #c12737;
  transform: translateY(-2px);
}
